<div class="page-title">

    <div class="title-env">
        <h1 class="title">密码修改记录</h1>
    </div>

    <div class="breadcrumb-env">

        <ol class="breadcrumb bc-1">
            <li>
                <a href="{:url('/')}"><i class="fa-home"></i>Home</a>
            </li>

            <li class="active">

                <strong>User</strong>
            </li>
        </ol>

    </div>

</div>
<!-- Responsive Table -->
<div class="row">
    <div class="col-md-12">

        <div class="panel panel-default">
            <div class="panel-heading">

                <div class="panel-options">


                    <a href="#" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                    <a href="#" data-toggle="reload">
                        <i class="fa-rotate-right"></i>
                    </a>

                    <a href="#" data-toggle="remove">
                        &times;
                    </a>
                </div>
            </div>
            <div class="panel-body">


                <div class="table-responsive" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk"
                     data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
                    <table cellspacing="0" class="table table-small-font table-bordered table-striped">
                        <thead>
                        <tr>

                            <th>修改密码账户</th>
                            <th>修改人</th>
                            <th>修改时间</th>
                            <th>修改IP</th>
                            <th>修改前</th>
                            <th>修改后</th>
                            <th>修改设备</th>


                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo"}
                        <tr>
                            <td>{:_name($vo.uid)}</td>
                            <td>{:_name($vo.aid)}</td>
                            <td>{:date('Y-m-d H:i:s',$vo.ctime)}</td>
                            <td>{$vo.ip}</td>
                            <td>{$vo.old_pass}</td>
                            <td>{$vo.pass}</td>
                            <td>
                                <?php


if($vo['web']=='0')
{
echo "后台";
}else{
echo "APP";
}
?>

                            </td>

                        </tr>
                        {/volist}
                        </tbody>
                    </table>
                </div>

            </div>


        </div>

    </div>


</div>